@font-face {
    font-family: 'immortal';
    src: url('../fonts/Immortal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'immortal' !important;
}

.fullscreeen {
    position: fixed;
    width: 100%; 
    height: 100%;
    z-index: 60;
    overflow: hidden;
}

.text {
    font-size: 16px;
}

.big_text {
    font-size: 22px;
}
