.game_container {
    position: absolute;
    width: 1280px;
    height: 720px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -360px 0 0 -640px;
    background: #dddddd;
}

.game_title {
    position: absolute;
    width: 1280px;
    height: 100px;
    z-index: 15;
    top: 5%;
    left: 50%;
    margin: -20px 0 0 -640px;
    font-size: 56px;
    color: #ffffff;
}

body {
    background: #111111;
}
