.game_container {
    position: absolute;
    width: 1280px;
    height: 720px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -360px 0 0 -640px;
    background: #dddddd;
}

.game_title {
    position: absolute;
    width: 1280px;
    height: 100px;
    z-index: 15;
    top: 5%;
    left: 50%;
    margin: 0 0 0 -640px;
    background: #222222;
    font-size: 28px;
    color: #ffffff;
    font-family: 'immortal' !important;
}

body {
    background: #222222;
}
