.game_container {
    width: 1280px;
    height: 720px;
    background: #dddddd;
}

.game_title {
    font-size: 58px;
    color: #ffffff;
    font-family: 'immortal';
}

body {
    background: #111111;
}

.white {
    color: #ffffff;
    font-family: 'immortal';
}
