.small-text {
    font-size: 11px;
}

.drop-panels {
    margin-top: 20px;
}

.shrink-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}

.larger-text {
    font-size: 22px;
}

.final-p {
    margin: 0 0 0px;
}

.hide-line {
    border-top: 0px !important;
}

.balance-margins {
    padding-right: 20px;
    padding-left: 10px;
}

.other-box-margins {
    padding-right: 10px;
    padding-left: 20px;
}

.bottom-corner {
    margin-bottom: 10px;
    margin-left: 5px;
}

.scoot-left {
    margin-right: 30px;
}

.right-indent {
    margin-left: 40px;
}

.narrow-table {
    width: 800px;
}

.scrolling_div {
    overflow-y: scroll;
    height: 80vh;
}
