.small-text {
    font-size: 11px;
}

.drop-panels {
    margin-top: 20px;
}

.shrink-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}

.larger-text {
    font-size: 16px;
}

.final-p {
    margin: 0 0 0px;
}

.hide-line {
    border-top: 0px !important;
}
